<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="box">

    <h1>Admin Home Page</h1>

    <p>
        Welcome Admin,
        <span th:text="${user.username}"></span>
    </p>

    <p><a href="/admin/add-event">Add Event</a></p>
    <p><a href="/admin/events">Manage Events</a></p>
    <p><a href="/admin/participants">View Participants</a></p>
    <p><a href="/logout">Logout</a></p>

</div>

</body>
</html>

